@charset "utf-8";

* {
     box-sizing: border-box;
}


.grid {
    display: flex;
    flex-wrap: wrap;
}


.box1 {
    width: 25%;
    height: 100px;
    background-color: skyblue;
    border: 10px solid #fff;
    border-radius: 20px;
}


.box2 {
    width: 50%;
    height: 100px;
    background-color: pink;
    border: 10px solid #fff;
    border-radius: 20px;
}

.box3 {
    width: 16.6%;
    height: 100px;
    background-color: greenyellow;
    border: 10px solid #fff;
    border-radius: 20px;
}